{% extends "../base/base.html" %}
{% block template %}
    <!-- Conteúdo Principal -->
    <div class="container mt-4">
        <h1>Projetos</h1>
        <div class="row g-3 overflow-y-scroll" id="listaProjetos" style="height: 75vh"></div> {% comment %}Aqui vão aparecer os meus projetos{% endcomment %}
    </div>

    <script>
        async function carregarProjetos(){
            const response = await fetch('/api/v1/projetos')
            const projetos = await response.json()

            let listaProjetos = document.getElementById("listaProjetos")
            {% comment %}listaProjetos.innerHTML{% endcomment %}

            // Algo como "Para cada projeto em projetos, execute... é uma arrow function, é interessante aprender
            projetos.forEach(projeto =>{
                let item = document.createElement('div')
                item.classList.add('g-col-6', 'col-4')
                item.innerHTML = ` <div class="border p-2 rounded-2">
                                        <h5 class="card-header mb-2">${projeto.nome}</h5>
                                        <p class="card-subtitle mb-2">${projeto.descricao}</p>
                                        <div class="row my-2">
                                            <div class="col d-flex justify-content-evenly align-items-center">
                                                <a href="../editar-projeto/${projeto.id}/" class="text-decoration-none"><button class="btn btn-primary">Editar</button></a>
                                                <a href="../editar-projeto/${projeto.id}/" class="text-decoration-none"><button class="btn btn-danger">Editar</button></a>
                                            </div>
                                            <div class="col align-items-center">
                                                <p class="card-text text-center" > Data inicial: ${projeto.data_inicio} </p> <p class="card-text text-center"> Data final: ${projeto.data_final}</p>
                                            </div>
                                        </div>
                                    </div>
                                  `
                listaProjetos.appendChild(item)
            })
        }
        window.onload = carregarProjetos()
    </script>

{% endblock %}
