{% extends "../base/base.html" %}
{% block template %}
    <!-- Conteúdo Principal -->
    <div class="container mt-4">
        <h1 class="mb-3"><i class="bi bi-bookmark-check-fill"></i> Projetos</h1>
        <div class="row g-3 overflow-y-auto" id="listaProjetos" style="height: 75vh"></div>
        {% comment %}Aqui vão aparecer os meus projetos{% endcomment %}
        <div id="message" class="alert d-none"></div>
    </div>

    {% load static %}
    <script src="{% static 'projeto_service/js/ver_projetos.js' %}"></script>

    <script>
        window.onload = carregarProjetos({{ user_id }})
    </script>
{% endblock %}
