{% extends "../base/base.html" %}
{% block template %}
    <!-- Conteúdo Principal -->

    <div class="container mt-4">

        <!-- Título do Projeto -->
        <div class="row mb-4">
            <div class="col">
                <h2 class="fw-bold" id="nome">Nome do Projeto</h2>
                <p class="text-muted" id="descricao">Descrição breve do projeto...</p>
            </div>
        </div>

        <!-- Detalhes do Projeto -->
        <div class="row mb-4">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Detalhes do Projeto</h5>
                        <p id='dataInicio'></p>
                        <p id='dataFinal'></p>
                        <p><strong>Status:</strong> Em andamento</p>
                    </div>
                </div>
            </div>

            <!-- Responsáveis -->
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <h5 class="card-title">Responsáveis</h5>
                        <ul class="list-group list-group-flush" id="listaResponsaveis">
                            <li class="list-group-item" id="desenvolvedor"></li>
                            <li class="list-group-item" id="analista"></li>
                            <li class="list-group-item" id="orgao"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <!-- Tarefas do Projeto -->
        <div class="row mb-4">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-body">
                        <div class="row m-1 ">
                            <div class="col">
                                <h4 class="card-title">Tarefas</h4>
                            </div>
                            <div class="col d-flex justify-content-end">
                                <a href="../../../tarefas/cadastrar_tarefa/{{ projeto_id }}">
                                    <button class="btn btn-success">
                                        Criar nova tarefa
                                    </button>
                                </a>
                            </div>
                        </div>


                        <table class="table table-bordered table-hover">
                            <thead class="table-dark">
                            <tr>
                                <th>Nome</th>
                                <th>Descrição</th>
                                <th>Status</th>
                                <th>Data Inicial</th>
                                <th>Data Limite</th>
                                <th>Responsável</th>
                            </tr>
                            </thead>
                            <tbody id="listaTarefas">
                            <!-- Tarefas adicionadas pela função carregarTarefasProjeto-->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="preloader" class="top-0 start-0 w-100 h-100 bg-white d-flex justify-content-center align-items-center"
         style="z-index: 1050; position: fixed">
        <div class="w-75">
            <div class="progress">
                <div id="barraProgresso" class="progress-bar progress-bar-striped progress-bar-animated"
                     role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
        </div>
    </div>

    <script>
        /**
         * Busca o nome de usuário (username) de um responsável pelo seu ID.
         *
         * A função faz uma requisição assíncrona à API de atores, utilizando o ID fornecido,
         * e retorna o nome de usuário (username) associado ao responsável.
         *
         * @param {number} id - O ID do responsável a ser buscado.
         * @returns {Promise<string>} - Uma Promise que resolve com o nome de usuário do responsável.
         */
        async function carregarResponsavel(id) {
            const response_entidade = await fetch(`/api/v1/atores/${id}`)
            const entidade = await response_entidade.json()
            let nome = entidade.username

            if (nome) {
                return nome
            }
            return "Sem atribuição"
        }

    </script>

    <script>
        /**
         * Busca a sigla de um órgão a partir do seu ID.
         *
         * A função faz uma requisição assíncrona à API de órgãos utilizando o ID fornecido
         * e retorna a sigla correspondente ao órgão.
         *
         * @param {number} id - O ID do órgão a ser buscado.
         * @returns {Promise<string>} - Uma Promise que resolve com a sigla do órgão.
         */
        async function carregarOrgao(id) {
            const response_entidade = await fetch(`/api/v1/orgaos/${id}`)
            const entidade = await response_entidade.json()
            let sigla = entidade.sigla
            if (sigla) {
                return sigla
            }
            return "Sem atribuição"
        }


    </script>

    <script>
        /**
         * Busca a sigla de um órgão a partir do seu ID.
         *
         * A função faz uma requisição assíncrona à API de órgãos utilizando o ID fornecido
         * e retorna a sigla correspondente ao órgão.
         *
         * @param {number} id - O ID do órgão a ser buscado.
         * @returns {Promise<string>} - Uma Promise que resolve com a sigla do órgão.
         */
        function carregarTarefasProjeto(tarefas) {
            listaTarefas = document.getElementById('listaTarefas')
            tarefas.forEach((tarefa) => {
                const itemTarefa = document.createElement('tr')

                const nome = document.createElement('td')
                nome.textContent = tarefa.nome

                const descricao = document.createElement('td')
                descricao.textContent = tarefa.descricao

                const statusTarefa = document.createElement('td')
                statusTarefa.innerHTML = `<span class=\'badge bg-warning\'>Em andamento</span>`


                const dataInicio = document.createElement('td')
                dataInicio.textContent = tarefa.data_inicio

                const dataFinal = document.createElement('td')
                dataFinal.textContent = tarefa.data_final

                const responsavel = document.createElement('td')
                responsavel.textContent = tarefa.responsavel_id

                //não pode ser fora da ordem
                itemTarefa.appendChild(nome)
                itemTarefa.appendChild(descricao)
                itemTarefa.appendChild(statusTarefa)
                itemTarefa.appendChild(dataInicio)
                itemTarefa.appendChild(dataFinal)
                itemTarefa.appendChild(responsavel)

                listaTarefas.appendChild(itemTarefa)

            })
        }
    </script>

    <script>
        /**
         * Preenche a tabela de tarefas de um projeto na interface HTML.
         *
         * Para cada tarefa recebida, cria uma linha (<tr>) com as seguintes informações:
         * nome, descrição, status fixo ("Em andamento"), data de início, data final e responsável.
         * Cada linha é adicionada na tabela com id 'listaTarefas'.
         *
         * @param {Array} tarefas - Lista de objetos de tarefas, onde cada tarefa deve conter:
         *  - nome {string}
         *  - descricao {string}
         *  - data_inicio {string}
         *  - data_final {string}
         *  - responsavel_id {number}
         *
         * @returns {void}
         */

        async function carregarProjeto() {
            const response = await fetch('../../../../api/v1/projetos/{{ projeto_id }}')//Nesse caso passamos o id do projeto, por conta do router, ele vai fazer um get naquele projeto.
            const projeto = await response.json()

            esperar(300).then(async () => {
                //Aqui passamos o id do input no form e falo que o valor dele é o nome/descricao/data... do projeto
                document.getElementById("nome").textContent = projeto.nome
                document.getElementById("descricao").textContent = projeto.descricao
                document.getElementById("dataInicio").innerHTML = `<strong>Data de Início:</strong> ${projeto.data_inicio}`
                document.getElementById("dataFinal").innerHTML = `<strong>Data de Início:</strong> ${projeto.data_final}`

                document.getElementById("desenvolvedor").innerHTML = "<strong>Desenvolvedor: </strong>" + (await carregarResponsavel(projeto.desenvolvedor_id))
                document.getElementById("analista").innerHTML = "<strong>Analista: </strong>" + (await carregarResponsavel(projeto.analista_id))
                document.getElementById("orgao").innerHTML = "<strong>Órgão: </strong>" + (await carregarOrgao(projeto.orgao_id))
                carregarTarefasProjeto(projeto.tarefas)

            })

        }

        window.onload = carregarProjeto()

    </script>
    <script>
        function esperar(ms) {
            return new Promise(resolve => setTimeout(resolve, ms));
        }
    </script>

    <script>
        window.onload = function () {
            const barra = document.getElementById('barraProgresso');
            const preloader = document.getElementById('preloader');

            // Faz a barra preencher de forma suave
            barra.style.transition = 'width 300ms ease-in-out';
            barra.style.width = '100%';

            // Esconde o preloader após 300ms
            setTimeout(() => {
                preloader.style.transition = 'opacity 300ms ease';
                preloader.style.opacity = 0;
                setTimeout(() => {
                    preloader.style.display = 'none';
                    preloader.style.position = 'relative'
                }, 300); // tempo para a transição de opacidade
            }, 300);
        }
    </script>


{% endblock %}
